/*
 * Globals
 */

body {
  box-sizing: border-box;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #4682B4;
  border: 1px solid #fff;
}

.btn-default:hover, .btn-defult:focus {
  background-color: #335d81;
}

input {
  padding: 1em;
  border: 1px solid #333;
  margin: 0.4em 0 1.4em;
  color: #333;
}

h1 {
  color: #4682B4;
  margin-bottom: 0.4em;
  font-size: 2.5em;
  font-weight: 400;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #FFF;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
/*.inner {
  padding: 30px;
}*/


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Cover
 */

/*.cover {
  padding: 0 20px;
}*/
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
/* Universal movie styles */

#movie-container div {
  cursor: pointer;
}

#movie-container div h1 {
  font-size: 1.25em;
  line-height: 1em;
  color: #CCC;
  margin-bottom: 0;
}

#movie-container div p {
  color: #999;
}

/* Single movie styles for small screens */
#movie-container {
  width: 100%;
  padding: 10px;
  text-align: center;
}
#movie-container img {
  width: 100%;
  margin-bottom: 5px;
}
#movie-container input {
  width: 100%;
}
#error, .red-text {
  color: red;
}
.white-text {
  color: white;
}
.light-grey-text {
  color: #AAA;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

@media (min-width: 500px) {
  #movie-container > img {
    width: 48%;
    margin-right: 2%;
    float: left;
  }
  #movie-container input {
    width: 50%;
  }
  #movie-container div {
    width: 49%;
    float: left;
    margin-right: 2%;
  }
  #movie-container div.even-item {
    margin-right: 0;
  }
  #movie-container div img {
    height: auto;
  }
}


@media (min-width: 800px) {
  /* Pull out the header and footer */
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .inner.cover {
    overflow: hidden;
  }
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  /* Single movie styles for large screen */
  #movie-container {
    min-height: 442px;
    width: 100%;
    padding: 20px;
    text-align: left;
    margin: 3% auto;
  }
  #movie-container img {
    float: left;
    width: auto;
    height: 400px;
    margin-right: 20px;
  }
  #movie-container input {
    width: 50%;
  }
  /* Movie list styles for large screen */
  #movie-container {
    overflow: hidden;
  }
  #movie-container div {
    width: 31.33%;
    margin-right: 3%;
    float: left;
    min-height: 365px;
  }
  #movie-container div.even-item {
    margin-right: 3%;
  }
  #movie-container div.third-item {
    margin-right: 0;
  }
  #movie-container div img {
    height: 300px;
    width: 100%;
    margin: 0;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 800px;
  }
}
