<div class="inner cover" id="main">
  <div id="loading"><div class="sp sp-circle"></div></div>
  <div id="movie-container">
    <h1 class="cover-heading">Six Degrees of Cinema</h1>
    <p class="lead">Six Degrees of Cinema is a fun and simple movie trivia game. Name one of your favorite movies, and I'll give you an actor or actress that stars in it. You name another movie in which they&rsquo;ve appeared (in a prominent or semi-prominent role), and you get a point. I give you another actor or actress from that movie, and you name another movie in which they&rsquo;ve appeared&#8230; you get the idea.</p>
    <p class="lead">This game can be played by one or two players. If you choose two-player mode, you and your competition will take turns naming movies for the actors I select.</p>
    <p class="lead red-text">There are a couple of rules - no using the same movie twice, and no sequels. And if you&rsquo;re going to be sporting, no IMDB.</p>
    <p class="lead options">
      <button class="btn btn-lg btn-default" id="start-1p">Start 1-Player</button>&nbsp;&nbsp;
      <button class="btn btn-lg btn-default" id="start-2p">Start 2-Player</button>
      <span>
        <label for="difficulty">Difficulty:&nbsp;</label>
        <input type="radio" name="difficulty" value="easy" checked>&nbsp;Easier&nbsp;
        <input type="radio" name="difficulty" value="hard" >&nbsp;Harder
      </span>
    </p>
  </div>
</div>
